/* .Nav-bar {
    top: 0px;
    background: whitesmoke;
    height:60px;

   top: 0px;
   left: ;
   padding: 10px;
  
    width: 960px;
    margin-left: -10px;
    line-height:50px;
    
} */


.header {
  position: fixed;
  right: 0;
  left: 0;
  min-height: 10em;
    width: 90%;
    text-align: center;
    font-size: 40px;
    color: coral;
    font-family: 'Alex Brush', cursive;
}

body {
    background: green;
}

.column {
    /* float: left; */
    width: 25%;
    padding: 0 10px;
    top: 30px;
  }
  .card {
      height: 180px;
      width: 100px;
    box-shadow: 0 4px 8px 0 white;
        padding: 16px;
        top: 30px;
        text-align: center;
       border: yellow;
       display: block;
  }

#image {
    width: 60px;
    height: auto;
    display: block;
    margin: auto;
}




.links {
    opacity : 0.7;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
  }
.banner {
    background: lightcoral;
}

 

/* #size {
    height: 180px;
    width: 180px;
    display: block;
    margin: auto; */
    /* margin:0 auto specifies
* top and bottom margins are 0
    * right and left margins are auto */
    /* If both 'margin-left' and 'margin-right' are 'auto', their used values are equal. This horizontally centers the element with respect to the edges of the containing block. */

    /* display: block - a line break before and after the element

    display: inline - no line break before or after the element */
/* } */

/* #thumbnail {
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.full-card {
    background: gray;
}
p {
line-height: 25px;
}
a:hover {
    color: greenyellow;
}
a {
    color: black;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .name {
      text-align: center;
  }
  .offset {
      position: relative;
      left: 60px;
  } */
  /* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  } */
  


/* .topnav {
    background: lightblue;
    padding: 14px 16px; */
/* } */

/* :root {
    /* custom properties dictating the animation */
    /* --animation-duration: 1s;
    --animation-timing-function: step-start;
  }
   */
  /* body {
    background: black;
    /* center in the viewport */
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */
  /* ul {
    center the tree structure */
    /* padding: 0;
    margin: 0;
    text-align: center; */
    /* reduce the space between the emojis */
    /* line-height: 0.8;
    letter-spacing: -2rem;
    list-style: none;
    font-size: 4rem;
  }
  
  li { */
    /* display the list items side by side */
    /* display: inline;
  } */ 
  
  /* for every list item but the first add a sparkles emoji */
  /* li + li {
    position: relative;
  }
  li + li:before {
    content: "✨";
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 1.5rem; */
    /* set up the animation */
    /* animation: flicker var(--animation-duration) var(--animation-timing-function) infinite;
  }
  @keyframes flicker {
    50% {
      opacity: 0;
    }
  }
   */
  /* remove the animation with the appropriate media query */
  /* @media (prefers-reduced-motion: reduce) {
    li + li:before {
      animation: none;
    }
  }
   */


   /* //overflow: visible; The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. */