/* .Nav-bar {
    top: 0px;
    background: whitesmoke;
    height:60px;

   top: 0px;
   left: ;
   padding: 10px;
  
    width: 960px;
    margin-left: -10px;
    line-height:50px;
    
} */

html{ 
  /* height: 100vh; */
  overflow-y: scroll;
      overflow-x: hidden;
}
 
.header {
  position: relative;
  right: 0;
  left: 0;
  min-height: 1em;
    width: 90%;
    text-align: center;
    font-size: 40px;
    color: coral;
    font-family: 'Alex Brush', cursive;
}

 
  
body{
  background: white;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden; 

      top: 0;
      }


.box {
display: grid;

  min-height: 300px;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr; 
grid-gap: 20px;
 
  margin-left: 200px;
  margin-right: 200px;
  justify-content: center;
  position: relative;
}

.R1 {
  background: white;
  min-height: 350px;
  min-width: 100px;
border: solid 0.5em lightskyblue;
justify-content: center;


}

.R2 {
  background: white;
  min-height: 350px;
  min-width: 100px;
border: solid 0.5em lightpink;
}

.R3 {
  border: solid 0.5em PaleTurquoise;
  background: white;
  min-height: 350px;
  min-width: 100px;
background: white;
}

.R4 {
  border: solid 0.5em #ddcee0;
  background: white;
  min-height: 350px;
  min-width: 100px;
  background: white;
}

.R5 {
  border: solid 0.5em #f6f3c1;
  background: white;
  min-height: 350px;
  min-width: 100px;
}

.zodiacname {
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  color: lightcoral;
  text-transform: capitalize;
  /* display: block; */
 
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.p-tag {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: lightcoral;
}

.column {
    /* float: left; */
    width: 25%;
    padding: 0 10px;
    top: 30px;
  }
  .card {
      height: 180px;
      width: 100px;
    box-shadow: 0 4px 8px 0 white;
        padding: 16px;
        top: 30px;
        text-align: center;
       border: yellow green;
       display: block;
  }

#image {
  top:30px;
    width: 60px;
    height: auto;
    display: block;
    margin: auto;
}




.links {
    opacity : 0.7;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
  }
.banner {
    background: lightcoral;
}

 

/* #size {
    height: 180px;
    width: 180px;
    display: block;
    margin: auto; */
    /* margin:0 auto specifies
* top and bottom margins are 0
    * right and left margins are auto */
    /* If both 'margin-left' and 'margin-right' are 'auto', their used values are equal. This horizontally centers the element with respect to the edges of the containing block. */

    /* display: block - a line break before and after the element

    display: inline - no line break before or after the element */
/* } */

/* #thumbnail {
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.full-card {
    background: gray;
}
p {
line-height: 25px;
}
a:hover {
    color: greenyellow;
}
a {
    color: black;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .name {
      text-align: center;
  }
  .offset {
      position: relative;
      left: 60px;
  } */
  /* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  } */


   /* //overflow: visible; The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. */
